@import 'global';

body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  .container {
    .navbar {
      width:100%;
      height:60px;
      display:flex;
      justify-content:space-around;
      align-items:flex-end;
      background-color: red;
      font-size:30px;
      .navleft{
        margin-bottom:10px;
      }
      .navright {
        margin-bottom:10px;
        display:flex;
        flex-direction:row;
        .themes {
          margin:0 20px;
        }
      }
    }
    .content {
      height:800px;
      width:100%;
      display:flex;
      flex-direction:row;
      #listNav {
        width:30%;
        height:100%;
        background-color:orange;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        #addNew {
          height:40px;
          width:100%;
          font-size:20px;
          border-bottom: 2px dashed $charcoal;
          display:flex;
          justify-content:center;
          align-items:center;
        }
        #listItem {

        }
      }
      #todoContainer {
        width:70%;
        background-color:green;
      }
    }
  }
}